# Ignore build directories
/build/
/bin/
/obj/
cmake-build-debug/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled files
*.o
*.out
*.exe

# Ignore logs and databases
*.log
*.sql
*.sqlite

# Ignore CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile